@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('../../static/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('../../static/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    font-family: 'S-CoreDream-4Regular';
    font-size: 0.825rem;
    line-height: 1rem;
}